*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.body{
    background-color: black;
}
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 25px;
}
.container1{
display: flex;
align-items: center;
justify-content: space-around;
border: none;
margin: 25px;
}   

.container4{
   margin: 25px 600px;
    display: flex;
    justify-content: space-between;
}

